.itemCard {
    background-color: var(--background-light);
    border-radius: 10px;
    aspect-ratio: 0.85;
    box-shadow: 2px 4px 12px #00000014;
    padding-inline: 15px;
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-decoration: none;
    color: black;
    margin: 15px;

    & img {
        mix-blend-mode: multiply;
        width: 70%;
        align-self: center;
    }

    & p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    & h3 {
        text-align: left;
    }
}